//Tipografia
$fuenteHeading: 'PT Sans', sans-serif;
$fuenteParrafos: 'Open Sans', sans-serif;


//Colores
$primario: #664625;
$primario-oscuro: #533310;
$negro: #222222;
$claro: rgb(244,244,244);
$verdesito: #89A490;
$bg-color: rgb(254,173,166);