@import '../base/globales';
@import'../utilities/variables';
@import '../utilities/mixins';

.footer{
    background-image: url(../img/banner2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    height: 25rem;
    margin-top: 4rem;
    border-top: 4px solid $verdesito;
}
@include verEn(tablet){ //Mixin de media Query
    .footer{  
         height: 10rem;
    }
}


.copy__descripcion{
    background-color: $verdesito;
}

