// @import 'globales';
// @import 'variables';

.header{
    background-image: url(../img/banner2.webp);
    height: 45rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-bottom: 4px solid $verdesito;
    margin-bottom: 5rem;

    &__texto{
        text-align: center;
        margin-top: 3rem;
        color: $claro;

        h2{
            font-size: 5rem;
            animation: flipInX;
            animation-duration: 2s;
            font-weight: 700;
        }

        
    }
}

.navegacion{
    padding-left: 0;

    &__enlace{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.2rem;
        color: $claro;
    }
}

.logo__nombre{
    font-weight: 400;
    font-size: 5.5rem;
}

@include verEn(tablet){ //Mixin de media query
    
    .header__texto{
        margin-top: 15rem;
    }

    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 2rem;
    }

    .navegacion{
        display: flex;
        gap: 2rem;
    }
}