 @import '../utilities/variables';

.btn-primario{
    background-color: $primario;
    color: $claro;
    transition: all .3s;

    &:hover{
        background-color: $primario-oscuro;
        color: $claro;
    }
}


//Accordion
.accordion-button:not(.collapsed) {
    color: $negro;
    background-color: $verdesito;
}

.accordion-item {
    background-color: #fff;
    border: 1px solid #664625;
}