.container-overlay {
  position: relative;
  width: 100%;

    .overlay {
        position: absolute;
        top: 75%;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5); /* Black see-through */
        color: #f1f1f1;
        width: 100%;
        transition: .5s ease;
        opacity:0;
        color: white;
        font-size: 20px;
        padding: 20px;
        text-align: center;

        &:hover{
            opacity: 1;
        }
    }
}
/* The overlay effect - lays on top of the container and over the image */


/* When you mouse over the container, fade in the overlay title */
// .container-overlay:hover .overlay {
//   opacity: 1;
// }